.status {

    padding: 6px 15px;

    border-radius: 20px;

    color: white;

    font-weight: bold;

}


.pending {

    background: orange;

}


.approved {

    background: green;

}


.cancelled {

    background: red;

}