.dashboard {

    padding: 40px;

    text-align: center;

}


.dashboard h1 {

    color: #2563eb;

}


.dashboard-cards {

    display: flex;

    justify-content: center;

    gap: 25px;

    flex-wrap: wrap;

    margin-top: 40px;

}



.dashboard-card {

    width: 220px;

    padding: 30px;

    border-radius: 15px;

    color: white;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

}



.dashboard-card h1 {

    font-size: 50px;

    margin: 10px;

    color: white;

}



.patients-card {

    background: #1d2e54;

}



.doctors-card {

    background: #0c4c25;

}



.appointments-card {

    background: #371854;

}



.pending-card {

    background: #8a380c;

}