.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px 40px;

    background: #6d6543;

    color: white;

}



.navbar h2 {

    margin: 0;

}



.nav-links {

    display: flex;

    align-items: center;

    gap: 25px;

}



.nav-links a {

    color: white;

    text-decoration: none;

    font-weight: bold;

}



.nav-links a:hover {

    text-decoration: underline;

}



.nav-links button {

    background: white;

    color: #eb2525;

    border: none;

    padding: 8px 18px;

    border-radius: 20px;

    font-weight: bold;

    cursor: pointer;

}



.nav-links button:hover {

    background: #e0e7ff;

}